@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #b8dbf159 !important; }

/*-----------GLOBAL-------------*/
a {
  text-decoration: none; }

ul {
  list-style-type: none; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 52%; } }
  @media (max-width: 596px) {
    html {
      font-size: 50%; } }

.page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 23rem);
  width: 100vw; }

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15);
  background-color: #312919 !important; }
  .header-logo {
    max-width: 30vw;
    display: flex;
    height: 7rem;
    text-decoration: none; }
  .header-links {
    display: flex;
    position: relative;
    width: 70vw;
    justify-content: space-around;
    padding: 1rem; }

a.nav-link {
  position: relative;
  font-size: 2rem !important;
  color: #001a49 !important;
  font-weight: 600 !important;
  text-transform: uppercase; }

a.nav-link:hover {
  color: #1dace3 !important; }

.logo_img {
  transform: scale(1); }

.footer {
  position: relative;
  width: 100vw;
  height: 4rem;
  overflow: hidden;
  background-color: #fff; }
  .footer__page-break {
    border-bottom: 2px solid rgba(105, 105, 105, 0.3);
    width: 100vw; }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr)); }
    .footer__top--link {
      font-style: 1.8rem;
      text-decoration: none;
      font-weight: 600;
      color: #1dace3;
      margin: 2rem 2rem 0 2rem;
      text-align: center;
      transition: all 0.4s; }
      .footer__top--link:hover {
        color: #001a49; }
  .footer__lowest {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    overflow-y: hidden; }
    .footer__lowest--logo {
      width: 20%; }
    .footer__lowest--copyright {
      font-style: 1.4rem;
      font-weight: 800;
      margin-right: 4rem; }

.about-container {
  margin-top: 7rem !important; }

.about-logo {
  width: 100vw;
  display: flex;
  flex-direction: column; }

.logo-image {
  width: 100vw;
  height: 40%;
  margin: 0 auto;
  padding: 2rem;
  background: rgba(240, 236, 209, 0.24); }

.about-text-title {
  text-transform: uppercase;
  font-size: 3rem;
  text-decoration: underline; }

.about-text-body {
  font-size: 2rem;
  box-shadow: 0px 0px 84px -8px #d4b800;
  background: rgba(191, 205, 231, 0.164);
  width: 90vw;
  margin: 2rem auto; }

.Typewriter__wrapper {
  font-size: 3rem !important;
  color: #696969 !important;
  background-color: rgba(25, 0, 255, 0.281); }

accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px; }

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.accordion__button {
  background-color: #ffffff00;
  color: #001a49;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none; }

.accordion__button:hover {
  background-color: #ddd; }

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg); }

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg); }

[hidden] {
  display: none; }

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.services {
  width: 98vw;
  text-align: center;
  margin: 0 auto;
  background: rgba(240, 236, 209, 0.24); }

.service-header {
  text-transform: uppercase; }

.service-title {
  font-size: 2rem !important;
  text-align: center !important; }

.service-content {
  font-size: 1.8rem; }

.carousel-img {
  width: 100vw !important;
  height: 50vw !important;
  padding: 2rem !important; }

.carousel-img {
  width: 100vw !important;
  height: 50vw !important;
  padding: 2rem !important; }

.auth {
  display: flex !important;
  flex-direction: column !important;
  height: 24rem !important;
  width: 100vw !important;
  outline: 2px solid rgba(41, 48, 59, 0.2) !important;
  outline-offset: 1rem !important;
  margin: 1.4rem auto 3rem auto !important; }
  .auth__container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-top: 0.7rem !important;
    height: 100% !important;
    width: 100vw !important; }
  .auth__form {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    width: 75% !important;
    margin: 0 auto !important;
    justify-content: space-between !important; }
    .auth__form--input {
      height: 4rem !important;
      border: 1px solid rgba(41, 48, 59, 0.4) !important;
      border-radius: 10rem;
      background-color: rgba(105, 105, 105, 0.1) !important;
      outline: none;
      padding-left: 1.4rem !important;
      z-index: 100 !important;
      font-size: 2rem !important; }
      .auth__form--input:focus {
        border: 2px solid #1dace3 !important; }
        .auth__form--input:focus::placeholder {
          color: transparent; }
    .auth__form--submit {
      height: 3rem !important;
      font-size: 1.4rem !important;
      font-weight: 800 !important;
      border: 1px solid rgba(41, 48, 59, 0.4) !important;
      border-radius: 10rem !important;
      color: #f7f7f7 !important;
      background-color: #1dace3 !important;
      border: none !important;
      -webkit-appearance: none !important;
      cursor: pointer !important;
      z-index: 100 !important;
      transition: all 0.4s !important;
      width: 20rem !important;
      margin: 0 auto !important; }
      .auth__form--submit:hover {
        color: #1dace3 !important;
        background-color: #f7f7f7 !important;
        border: 2px solid #1dace3 !important; }
  .auth__options {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1.6rem !important;
    font-weight: 800 !important;
    z-index: 100 !important;
    color: #696969; }
    .auth__options--login {
      margin: 0 2.5rem !important;
      cursor: pointer; }
      .auth__options--login:hover {
        color: rgba(29, 172, 227, 0.5) !important; }
    .auth__options--clicked {
      color: #1dace3 !important; }
